<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link href="styles.css" rel="stylesheet" type="text/css" />
	<title>Display Internships By Wage</title>
</head>

<body>
	<div class="form-container">
		<h1>Display Internships with a Wage Greater than or Equal to</h1>

		<form action="/processWages" method="post">
			<label>
				<strong>Hourly Wage: </strong>
				<input type="text" name="hourlyWage">
			</label>

			<br><br>
			<button type="submit">Submit Request</button>
		</form>
		<br><br>
        <a href="../">Home</a>
	</div>
</body>

</html>