<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Internship Tracker</title>
    <link href= "styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="content-container">
      <div class="content-box">
        <h1>Personal Internship Tracker App</h1>
        <h2>Application Details</h2>
        <ul>
          <li>To submit a new application, select <a href="/newApplication">New Application</a></li>
          <li>To review/update an application, select <a href="/reviewApplication">Review Application</a></li>
          <li>To display all applications, select <a href="/allApplications">View All Applications</a></li>
          <li>To display internships based on wage, select <a href="/applicationWages">View by Wages</a></li>
          <li>To remove all applications, select <a href="/removeApps">Remove Applications</a></li>
        </ul>
      </div>

      <div id="joke-container">
        <h2 style="color: black;">Bored? Here's a dad joke</h2>
        <p id="dad-joke"></p>
        <button style ="background-color: whitesmoke;" onclick="getDadJoke()">Get Joke</button>
      </div>
  
      <script>
        async function getDadJoke() {
          try {
            const response = await fetch('https://icanhazdadjoke.com/', {
              headers: {
                Accept: 'application/json',
              },
            });
            const data = await response.json();
            document.getElementById('dad-joke').innerText = data.joke;
          } catch (error) {
            console.error('Error fetching dad joke:', error);
          }
        }
        getDadJoke(); // Fetch a joke when the page loads
      </script>
    </div>
  </body>
</html>