<!-- newApplication.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Application</title>
    <link href= "styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="form-container">
      <h1>New Application</h1>
      <form action="/processApplication" method="post">
        <label for="companyName">Company Name</label>
        <input type="text" id="companyName" name="companyName"  />

        <label for="hourlyWage">Hourly Wage/Total Compensation</label>
        <input type="text" id="hourlyWage" name="hourlyWage"  />

        <label for="location">Location</label>
        <input type="text" id="location" name="location"  />

        <label for="role">Role</label>
        <input type="text" id="role" name="role"  />

        <label for="additionalInfo">Additional Information</label>
        <textarea id="additionalInfo" name="additionalInfo" rows="5"></textarea>

        <input type="reset" value="Reset">
        <button type="submit">Submit Application</button>
        <br><br>
        <a href="../">Home</a>
      </form>
    </div>
  </body>
</html>
