<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="styles.css" rel="stylesheet" type="text/css" />
    <title>Remove Applications</title>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector('form').addEventListener('submit', confirmRemove);

            function confirmRemove(event) {
                let confirmMessage = "Are you sure you want to remove all applications?";

                if (!window.confirm(confirmMessage)) {
                    event.preventDefault();
                }
            }
        });
    </script>
</head>

<body>
    <div class="form-container">
        <h1>Remove All Applications</h1>
        <form action="/processRemove" method="post">
            <button type="submit">Remove All Applications</button>
        </form>
        <br><br>
        <a href="../">Home</a>
    </div>
</body>

</html>