<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Removed All Applications</title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="confirmation-container">

        <h1>Removal of All Applications</h1>

        All applications have been removed from the database. Number of applications removed: <span style ="color:red"><%- totalCount %></span>

            <br><br>
            <a href="../">Home</a>
    </div>
</body>

</html>