body {
    background-color: #F4DFC8;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;
  }

  .content-box {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
  }

  h1, h2 {
    color: #F4EAE0; 
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    color: red; 
    text-decoration: none;
    transition: color 0.3s ease;
  }

  a:hover {
    text-decoration: underline;
    color: #F4EAE0;
  }

  #joke-image-container {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  #joke-container {
    margin-top: 20px;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
    color: black;
  }

  .form-container {
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    width: 100%;
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  button {
    background-color: #F4DFC8;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .table-container {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
  }
  
  .confirmation-container {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
  }
